<div class="container">
    <header class="header">
        <img src="../../assets/trillo-logo.png" alt=" Trillo Logo" class="logo">
        <form action="#" class="search">
            <input type="text" class="search__input" placeholder="Search hotels">

            <button class="search__button">
                <i class="fa fa-search search__icon"></i>
            </button>
        </form>
        <nav class="user-nav">
            <div class="user-nav__icon-box">
                <i class="fa fa-bookmark user-nav__icon"></i>

                <span class="user-nav__notification">
                    7
                </span>
            </div>
            <div class="user-nav__icon-box">
                <i class="fa fa-wechat user-nav__icon"></i>

                <span class="user-nav__notification">
                    13
                </span>
            </div>
            <div class="user-nav__user">
                <img src="../../assets/jhon.PNG" alt="" class="user-nav__user-photo">
                <span class="user-nav__user-name">
                    John
                </span>
            </div>
        </nav>
    </header>
    <div class="content">

        <nav class="sidebar">
            <ul class="side-nav">
                <li class="side-nav__item side-nav__item--active">
                    <a href="" class="side-nav__link ">
                        <i class="fa fa-home side-nav__icon"></i>
                        <span>Hotel</span>
                    </a>
                </li>
                <li class="side-nav__item">
                    <a href="" class="side-nav__link">
                        <i class="fa fa-plane side-nav__icon" aria-hidden="true"></i>
                        <span>Flight</span>
                    </a>
                </li>
                <li class="side-nav__item">
                    <a href="" class="side-nav__link">
                        <i class="fa fa-key side-nav__icon"></i>
                        <span>Car rental </span>
                    </a>
                </li>
                <li class="side-nav__item">
                    <a href="" class="side-nav__link">
                        <i class="fa fa-map side-nav__icon"></i>
                        <span>Tours</span>
                    </a>
                </li>
            </ul>
            <div class="legal">
                &copy; 2017 by trillo.All rights reserved.
            </div>
        </nav>

        <main class="hotel-view">
            <div class="gallery">
                <figure class="gallery__item">
                    <img src="../../assets/sample3-navBottom1.png" alt="Photo 1" class="gallery__photo">
                </figure>
                <figure class="gallery__item">
                    <img src="../../assets/sample3-navBottom2.png" alt="Photo 2" class="gallery__photo">
                </figure>
                <figure class="gallery__item">
                    <img src="../../assets/sample3-navBottom3.png" alt="Photo 3" class="gallery__photo">
                </figure>
            </div>
            <div class="overview">
                <h1 class="overview__heading">
                    Hotel Monal Islamabad
                </h1>
                <div class="overview__stars">
                    <span class="fa fa-star checked overview__icon-star"></span>
                    <span class="fa fa-star checked overview__icon-star"></span>
                    <span class="fa fa-star checked overview__icon-star"></span>
                    <span class="fa fa-star checked overview__icon-star"></span>
                    <span class="fa fa-star checked overview__icon-star"></span>
                </div>
                <div class="overview__location">
                    <i class="fa fa-map-marker overview__icon-location" aria-hidden="true"></i>
                    <button class="btn-inline">Monal,Islamabd</button>
                </div>
                <div class="overview__rating">
                    <div class="overview__rating-average">8.6</div>
                    <div class="overview__rating-count">450 votes </div>
                </div>
            </div>

            <div class="detail">
                <div class="description">
                    <p class="paragraph">
                        The quick, brown fox jumps over a lazy dog.
                        DJs flock by when MTV ax quiz prog. Junk MTV quiz
                        graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph,

                    </p>
                    <p class="paragraph">
                        The quick, brown fox jumps over a lazy dog.
                        DJs flock by when MTV ax quiz prog. Junk MTV quiz
                        graced by fox whelps. Bawds jog, flick quartz.
                    </p>
                    <ul class="list">
                        <li class="list__item">Close to the beach</li>
                        <li class="list__item">Breakfast included</li>
                        <li class="list__item">Free airport shuttle</li>
                        <li class="list__item">Free wifi in all rooms</li>
                        <li class="list__item">Air conditioning and heating</li>
                        <li class="list__item">Pets allowed</li>
                        <li class="list__item">We speak all languages</li>
                        <li class="list__item">Perfect for families</li>
                    </ul>
                    <div class="recomend">
                        <p class="recomend__count">
                            Jhon and 3 others friends recomend hotel.
                        </p>
                        <div class="recomend_friends">
                            <img src="../assets/friend1.png" alt="Friend 1" class="recomend__photo">
                            <img src="../assets/friend2.png" alt="Friend 2" class="recomend__photo">
                            <img src="../assets/friend3.png" alt="Friend 3" class="recomend__photo">
                            <img src="../assets/friend4.png" alt="Friend 4" class="recomend__photo">
                        </div>
                    </div>
                </div>
                <div class="user-reviews">
                    <figure class="review">
                        <blockquote class="review__text">
                            The quick, brown fox jumps over a lazy dog.
                            DJs flock by when MTV ax quiz prog. Junk MTV quiz
                            graced by fox whelps.
                        </blockquote>
                        <figcaption class="review__user">
                            <img src="../assets/jhon.PNG" alt="User 1" class="review__photo">
                            <div class="review__user-box">
                                <p class="review__user-name">Jhon</p>
                                <p class="review__user-date">Aug 29th,2021</p>

                            </div>
                            <div class="review__rating">8.8</div>

                        </figcaption>
                    </figure>
                    <figure class="review">
                        <blockquote class="review__text">
                            The quick, brown fox jumps over a lazy dog.
                            DJs flock by when MTV ax quiz prog. Junk MTV quiz.
                        </blockquote>
                        <figcaption class="review__user">
                            <img src="../assets/friend1.png" alt="User 2" class="review__photo">
                            <div class="review__user-box">
                                <p class="review__user-name">Marry</p>
                                <p class="review__user-date">Aug 29th,2021</p>

                            </div>
                            <div class="review__rating">7.8</div>

                        </figcaption>
                    </figure>
                    <button class="btn-inline">Show all <span>&rarr;</span></button>
                </div>

            </div>
            <div class="cta">
                <h2 class="cta__book-now">
                    Good news! we have 4 rooms for your selected dates!
                </h2>
                <button class="btn">
                    <div class="btn__visible">Book now</div>
                    <div class="btn__invisible">Only 4 rooms left</div>

                </button>

            </div>
        </main>

    </div>

</div>